<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
  </head>
  <body>
    <div class="main-content">
      {{!-- {{>header}} --}}

      <p>Search Movies!</p>

      <form>
        <input name="movieTitle" placeholder="Movie Title" />
        <button>Search</button>
      </form>

      <div id="search-results">

      </div>
    </div>
    {{!-- {{>footer}} --}}
    <script src="/js/app.js"></script>
  </body>
</html>