<header>
  {{! <nav class="hamburger-menu">
    <div class="hamburger-menu__icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="hamburger-menu__items">
      <li class="hamburger-menu__item">Movies</li>
      <li class="hamburger-menu__item">Genres</li>
      <li class="hamburger-menu__item">Login</li>
      <li class="hamburger-menu__item link-cta">Sign up</li>
    </ul>
  </nav> }}
  <h1>{{title}}</h1>
  <div class="search-bar">
    <form>
      <input name="movieTitle" placeholder="Movie Title" />
      <button>Search</button>
    </form>
  </div>
  <ul class="links">
    <li class="link">Movies</li>
    <li class="link">Genres</li>
    <li class="link">Login</li>
    <li class="link link-cta">Sign up</li>
  </ul>
</header>